.row
	.col-md-7.col-md-offset-1
		.page-header(style='margin-top:0px')
			h1 {{title}}

		.media
			a.pull-left(href='#')
				img.media-object(width='150', height='150', src='../contents/images/blog_default.jpg', alt='...')
			.media-body
				h4.media-heading
					| Tư vấn chọn ngành
					br
					small 18/02/1024 - Phạm Minh Tâm
				p
					| Ngày 14/01/2014 Thủ tướng Chính phủ đã ký Quyết định số 99/QĐ-TTg - Quyết định Phê duyệt Đề án "Đào tạo và phát triển nguồn nhân lực an toàn, an ninh thông tin đến năm 2020" trong đó Trường Đại học Công nghệ Thông tin...
		.media
			a.pull-left(href='#')
				img.media-object(width='150', height='150', src='../contents/images/blog_default.jpg', alt='...')
			.media-body
				h4.media-heading
					| Tư Vấn Tuyển Sinh Đối Với Học Sinh Ngoài Bắc
					br
					small 18/02/1024 - Phạm Minh Tâm
				p
					| Ngày 14/01/2014 Thủ tướng Chính phủ đã ký Quyết định số 99/QĐ-TTg - Quyết định Phê duyệt Đề án "Đào tạo và phát triển nguồn nhân lực an toàn, an ninh thông tin đến năm 2020" trong đó Trường Đại học Công nghệ Thông tin...
		.media
			a.pull-left(href='#')
				img.media-object(width='150', height='150', src='../contents/images/blog_default.jpg', alt='...')
			.media-body
				h4.media-heading
					| Video giới thiệu ngành KTMT (Tiếng anh).
					br
					small 18/02/1024 - Phạm Minh Tâm
				p
					| Ngày 14/01/2014 Thủ tướng Chính phủ đã ký Quyết định số 99/QĐ-TTg - Quyết định Phê duyệt Đề án "Đào tạo và phát triển nguồn nhân lực an toàn, an ninh thông tin đến năm 2020" trong đó Trường Đại học Công nghệ Thông tin...

		center
			ul.pagination
				li
					a(href='#') «
				li
					a(href='#') 1
				li
					a(href='#') 2
				li
					a(href='#') 3
				li
					a(href='#') 4
				li
					a(href='#') 5
				li
					a(href='#') »
	.col-md-3
		//- h4
		//- 	label.label.label-success Nổi bật
