.row
	.col-md-7.col-md-offset-1
		//- h4
		//- 	label.label.label-danger Việc làm tốt nhất
		.page-header(style='margin-top:0px')
			h2 Danh sách tuyển dụng
				a.btn.btn-success.pull-right(href='#/carrer/new')
					i.glyphicon.glyphicon-plus
					| Tạo mới
				button.btn.btn-link.pull-right(ng-click='search_panel()')
					i.glyphicon.glyphicon-search

		form.form-horizontal#search-panel(style='display:none')
			// Text input
			.form-group
				label.col-md-3.control-label(for='company') Công ty
				.col-md-9
					input#company.form-control.input-md(name='company', type='text', placeholder='')
			// Text input
			.form-group
				label.col-md-3.control-label(for='carrer') Nghề nghiệp
				.col-md-9
					input#carrer.form-control.input-md(name='carrer', type='text', placeholder='')
			// Text input
			.form-group
				label.col-md-3.control-label(for='keywords') Từ khóa
				.col-md-9
					input#keywords.form-control.input-md(name='keywords', type='text', placeholder='')
			// Button (Double)
			.form-group
				label.col-md-3.control-label(for='search')
				.col-md-9
					button#search.btn.btn-primary.pull-right(name='search') Tìm kiếm
					button#cancel.btn.btn-link.pull-right(name='cancel', ng-click='search_panel()') Hủy


		.media(ng-repeat='post in model.data')
			a.pull-left(href='#/carrer/detail/{{post._id}}')
				img.img-rounded.media-object(width='100', height='100',
					src='../bower_components/_images/research_default.png', alt='...')
			.media-body
				h4.media-heading
					a(href='#/carrer/detail/{{post._id}}')
						| {{post.title}}
					br
					small
						b FPT,
					small  salary: $700-$1500, tag: android, iOS
				p
					| {{post.content | truncate:150}}

		center(style='margin-top:20px')
			div.btn-group.btn-group-justified(style='width:220px')
				div.btn-group
					button.btn.btn-default(type='button', ng-click='prev_page()', ng-if='current_page > 0')
						i.glyphicon.glyphicon-chevron-left
						| trang trước
					button.btn.btn-default(type='button', ng-if='current_page <= 0', disabled='disabled')
						i.glyphicon.glyphicon-chevron-left
						| trang trước

				div.btn-group
					button.btn.btn-default(type='button', ng-click='next_page()', ng-if='is_next_page() == true')
						| trang sau
						i.glyphicon.glyphicon-chevron-right
					button.btn.btn-default(type='button', ng-if='is_next_page() == false', disabled='disabled')
						| trang sau
						i.glyphicon.glyphicon-chevron-right
	.col-md-3
		//- h4
		//- 	label.label.label-info Nhà tuyển dụng hàng đầu
