.row
	.col-md-9
		//- h4
		//- 	label.label.label-danger Việc làm tốt nhất
		.page-header(style='margin-top:0px')
			h2 Đăng tin tuyển dụng

		.post
			form.form(role='form', method='post')
				.form-group
					label(for='title') Tên bài viết
					input.form-control#title(type='text', ng-model='post.title')

				.form-group
					label(for='content') Nội dung công việc
					div.textarea(ng-model='post.content', ng-meditor)

				.form-group
					label(for='requirements') Yêu cầu công việc
					div.textarea(ng-model='post.carrer.requirements', ng-meditor)

				.form-group
					label(for='industry') Ngành nghề
					input.form-control#industry(type='text', ng-model='post.carrer.industry')

				.form-group
					label(for='worksite') Địa điểm làm việc
					input#worksite.form-control(type='text', ng-model='post.carrer.worksite')

				.form-group
					label(for='salary') Mức lương
					input#salary.form-control(type='text', ng-model='post.carrer.salary')

				.form-group
					label(for='position') Vị trí tuyển dụng
					input#position.form-control(type='text', ng-model='post.carrer.position')

				.form-group
					label(for='language-profile') Ngôn ngữ trình bày hồ sơ
					input#language-profile.form-control(type='text', ng-model='post.carrer.languageProfile')

				.form-group
					button.btn.btn-success(ng-click='create()')
						i.glyphicon.glyphicon-plus
						| Đăng tin tuyển dụng

					a.btn.btn-default(href='#/carrer')
						i.glyphicon.glyphicon-remove
						| Hủy

	.col-md-3
		//- h4
		//- 	label.label.label-info Nhà tuyển dụng hàng đầu
