.row
	.col-md-7.col-md-offset-1
		//- h4
		//- 	label.label.label-danger Công trình nghiên cứu khoa học
		.page-header(style='margin-top:0px')
			h3 {{post.title}}
			small Phạm minh tâm - {{post.modified | date:'MM/dd/yyyy @ h:mma'}}

		.job-info(style='margin-top:20px')
			h4
				label.label.label-info Tổng quan
			div(ng-bind-html='post.content')

		.job-require(style='margin-top:20px')
			h4
				label.label.label-info Kết quả đạt được
			div(ng-bind-html='post.research.result')

			a.btn.btn-success(href='{{post.research.linkResource}}')
				i.glyphicon.glyphicon-save
				| Tải báo cáo

		.comment
			include ..\comment\index

	.col-md-3
		//- h4
		//- 	label.label.label-success Nổi bật
