.row
	.col-md-9
		//- h4
		//- 	label.label.label-danger Công trình nghiên cứu khoa học
		.page-header(style='margin-top:0px')
			h3 Xây dựng ứng dụng mô phỏng vật lý trên Windows Phone

		.job-info(style='margin-top:20px')
			h4
				label.label.label-info Tổng quan
			p
				| Successful candidates will participate in the design and development of various enterprise projects for our US and Australian clients.
				br
				| Benefits:
				br
				| - Attractive salary (total remuneration between $600 to $1,200)
				br
				| - Opportunity to acquire technical knowledge and experience in the latest technologies
				br
				| - Opportunity to work directly with foreign customers to improve English and professionalism
				br
				| - Opportunity to be involved in large scale system architecture
				br
				| - Lunch and over-time allowance
				br
				| - Annual holidays and social insurances in accordance to government regulation
				br
				| - Working hours: 8 hours x 5 days/week (Monday to Friday)
		.job-require(style='margin-top:20px')
			h4
				label.label.label-info Chi tiết - kết quả đạt được
			p
				| - At least 1 year of experience. Fresh graduates with proven track records are also welcome
				br
				| - Required skills:
				br
				| + MS .Net Framework and MS SQL Server
				br
				| + ASP.NET MVC and Entity framework
				br
				| + Javascript, AJAX, jQuery, AngularJS, HTML/CSS, XML
				br
				| + Telerik UI, DevExpress UI
				br
				| + Good knowledge of PHP or iOS/Android App development
				br
				| + Good knowledge of OOP/AOP
				br
				| + Analytic reasoning and problem solving skills
				br
				| + Good English command. Must be able to read technical document without any trouble.
			.btn.btn-success
				i.glyphicon.glyphicon-save
				| Tải báo cáo

		.comment
			.media
				a.pull-left(href='#')
					img.media-object(width='50', height='50', src='../contents/images/green.png', alt='...')
				.media-body
					h5.media-heading
						b Tâm Phạm
						small 28/2/2014
					span chuyện tình dưới mưa
			.media
				a.pull-left(href='#')
					img.media-object(width='50', height='50', src='../contents/images/green.png', alt='...')
				.media-body
					h5.media-heading
						b Tâm Phạm
						small 28/2/2014
					span chuyện tình dưới mưa
			.media
				a.pull-left(href='#')
					img.media-object(width='50', height='50', src='../contents/images/green.png', alt='...')
				.media-body
					h5.media-heading
						b Tâm Phạm
						small 28/2/2014
					span chuyện tình dưới mưa
			.media
				a.pull-left(href='#')
					img.media-object(width='50', height='50', src='../contents/images/green.png', alt='...')
				.media-body
					h5.media-heading
						b Tâm Phạm
						small 28/2/2014
					form(role='form')
						.form-group
							textarea#exampleInputEmail1.form-control(type='text', placeholder='Bình luận')
							button.btn.btn-success.pull-right(style='margin-top:4px') Bình luận

	.col-md-3
		//- h4
		//- 	label.label.label-success Nổi bật
