.row
	.col-md-9
		//- h4
		//- 	label.label.label-danger Công trình nghiên cứu khoa học
		.page-header(style='margin-top:0px')
			h2 {{title}}
				a.btn.btn-success.pull-right(href='#/research/new')
					i.glyphicon.glyphicon-plus
					|Tạo mới

		.media
			a.pull-left(href='#/research/detail')
				img.media-object(width='100', height='100', src='../contents/images/research_default.png', alt='...')
			.media-body
				h4.media-heading
					| Xây dựng ứng dụng mô phỏng vật lý trên Windows Phone
					br
					small 18/02/1024 - Phạm Minh Tâm
				p
					| Mình là 4, và mình không giàu, nhưng mình có ước mơ. ước mơ của mình là có thiệt là nhiều chuối trong ngày sinh nhật. để nếu mình k ăn hết, mình có...
		.media
			a.pull-left(href='#/research/detail')
				img.media-object(width='100', height='100', src='../contents/images/research_default.png', alt='...')
			.media-body
				h4.media-heading
					| Tìm hiểu và xây dựng ứng dụng Mobile Learning
					br
					small 18/02/1024 - Phạm Minh Tâm
				p
					| Mình là 4, và mình không giàu, nhưng mình có ước mơ. ước mơ của mình là có thiệt là nhiều chuối trong ngày sinh nhật. để nếu mình k ăn hết, mình có...
		.media
			a.pull-left(href='#/research/detail')
				img.media-object(width='100', height='100', src='../contents/images/research_default.png', alt='...')
			.media-body
				h4.media-heading
					| Ứng dụng hệ thống Redis vào website bán hàng trực tuyến.
					br
					small 18/02/1024 - Phạm Minh Tâm
				p
					| Mình là 4, và mình không giàu, nhưng mình có ước mơ. ước mơ của mình là có thiệt là nhiều chuối trong ngày sinh nhật. để nếu mình k ăn hết, mình có...
		center
			ul.pagination
				li
					a(href='#') «
				li
					a(href='#') 1
				li
					a(href='#') 2
				li
					a(href='#') 3
				li
					a(href='#') 4
				li
					a(href='#') 5
				li
					a(href='#') »
	.col-md-3
		//- h4
		//- 	label.label.label-success Nổi bật
