.row
	.col-md-9
		//- h4
		//- 	label.label.label-danger Công trình nghiên cứu khoa học
		.page-header(style='margin-top:0px')
			h2 {{title}}
				a.btn.btn-success.pull-right(href='#/research/new') Đăng CNKH

		.media
			a.pull-left(href='#/research/detail')
				img.media-object(width='150', height='150', src='../contents/images/research_default.png', alt='...')
			.media-body
				h4.media-heading
					| Xây dựng ứng dụng mô phỏng vật lý trên Windows Phone
					br
					small 18/02/1024 - Phạm Minh Tâm
				p
					| Ngày 14/01/2014 Thủ tướng Chính phủ đã ký Quyết định số 99/QĐ-TTg - Quyết định Phê duyệt Đề án "Đào tạo và phát triển nguồn nhân lực an toàn, an ninh thông tin đến năm 2020" trong đó Trường Đại học Công nghệ Thông tin...
		.media
			a.pull-left(href='#/research/detail')
				img.media-object(width='150', height='150', src='../contents/images/research_default.png', alt='...')
			.media-body
				h4.media-heading
					| Tìm hiểu và xây dựng ứng dụng Mobile Learning
					br
					small 18/02/1024 - Phạm Minh Tâm
				p
					| Ngày 14/01/2014 Thủ tướng Chính phủ đã ký Quyết định số 99/QĐ-TTg - Quyết định Phê duyệt Đề án "Đào tạo và phát triển nguồn nhân lực an toàn, an ninh thông tin đến năm 2020" trong đó Trường Đại học Công nghệ Thông tin...
		.media
			a.pull-left(href='#/research/detail')
				img.media-object(width='150', height='150', src='../contents/images/research_default.png', alt='...')
			.media-body
				h4.media-heading
					| Ứng dụng hệ thống Redis vào website bán hàng trực tuyến.
					br
					small 18/02/1024 - Phạm Minh Tâm
				p
					| Ngày 14/01/2014 Thủ tướng Chính phủ đã ký Quyết định số 99/QĐ-TTg - Quyết định Phê duyệt Đề án "Đào tạo và phát triển nguồn nhân lực an toàn, an ninh thông tin đến năm 2020" trong đó Trường Đại học Công nghệ Thông tin...
		center
			ul.pagination
				li
					a(href='#') «
				li
					a(href='#') 1
				li
					a(href='#') 2
				li
					a(href='#') 3
				li
					a(href='#') 4
				li
					a(href='#') 5
				li
					a(href='#') »
	.col-md-3
		//- h4
		//- 	label.label.label-success Nổi bật
