.row
	.col-md-9
		//- h4
		//- 	label.label.label-danger Công trình nghiên cứu khoa học
		.page-header(style='margin-top:0px')
			h2 Đăng nghiên cứu khoa học

		.post
			form.form(role='form', method='post')
				.form-group
					label(for='exampleInputEmail1') Tên đề tài
					input#exampleInputEmail1.form-control(type='email', placeholder='Tên bài viết')
				.form-group
					label(for='exampleInputEmail1') Người thực hiện
					button.btn.btn-warning.btn-xs.pull-right
						i.glyphicon.glyphicon-plus
						| Thêm
					.input-group
						input.form-control(type='text', placeholder='Tên hoặc mã người dùng')
						.input-group-btn
							button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
								| Vai trò
								span.caret
							ul.dropdown-menu.pull-right
								li
									a(href='#') Giáo viên hướng dẫn
								li
									a(href='#') Người thực hiện
						// /btn-group
				.form-group
					label(for='exampleInputEmail1') Mô tả nghiên cứu
					textarea.form-control(rows='6')
				.form-group
					label(for='exampleInputEmail1') Kết quả đạt được
					textarea.form-control(rows='6')
				.form-group
					label(for='exampleInputEmail1') Link báo cáo
					input.form-control(rows='6')
				.form-group
					button.btn.btn-success
						i.glyphicon.glyphicon-plus
						| Đăng kết quả nghiên cứu
					a.btn.btn-default(href='#/research')
						i.glyphicon.glyphicon-remove
						| Hủy

	.col-md-3
		//- h4
		//- 	label.label.label-success Nổi bật
