.row
	.col-md-9
		//- h4
		//- 	label.label.label-danger Công trình nghiên cứu khoa học
		.page-header(style='margin-top:0px')
			h2 Đăng nghiên cứu khoa học

		.post
			form.form(role='form', method='post')
				.form-group
					label(for='title') Tên đề tài
					input#title.form-control(type='text', ng-model='post.title')

				.form-group
					label(for='author') Người thực hiện
					button.btn.btn-warning.btn-xs.pull-right
						i.glyphicon.glyphicon-plus
						| Thêm
					.input-group
						input.form-control(type='text', placeholder='Tên hoặc mã người dùng')
						.input-group-btn
							button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
								| Vai trò
								span.caret
							ul.dropdown-menu.pull-right
								li
									a(href='#') Giáo viên hướng dẫn
								li
									a(href='#') Người thực hiện

				.form-group
					label(for='content') Mô tả nghiên cứu
					div.textarea(ng-model='post.content', ng-meditor)

				.form-group
					label(for='result') Kết quả đạt được
					div.textarea(ng-model='post.research.result', ng-meditor)

				.form-group
					label(for='linkResource') Link báo cáo
					input#linkResource.form-control(rows='6', ng-model='post.research.linkResource')

				.form-group
					button.btn.btn-success(ng-click='create()')
						i.glyphicon.glyphicon-plus
						| Đăng kết quả nghiên cứu
					a.btn.btn-default(href='#/research')
						i.glyphicon.glyphicon-remove
						| Hủy

	.col-md-3
		//- h4
		//- 	label.label.label-success Nổi bật
