.row
	.col-md-9
		.page-header(style='margin-top:0px')
			h3 {{post.title}}
			small Phạm minh tâm - {{post.modified | date:'MM/dd/yyyy @ h:mma'}}

		.job-info(style='margin-top:20px')
			div(ng-bind-html='post.content')

		.comment
			include ..\comment\index

	.col-md-3
		//- h4
		//- 	label.label.label-success Nổi bật
