.row
	.col-md-9
		//- h4
		//- 	label.label.label-danger Việc làm tốt nhất
		.page-header(style='margin-top:0px')
			h2 {{title}}
				a.btn.btn-success.pull-right(href='#/job/new') Đăng tin tuyển dụng

		.media
			a.pull-left(href='#/job/detail')
				img.media-object(width='100', height='100', src='../contents/images/research_default.png', alt='...')
			.media-body
				h4.media-heading
					| 2 Project Manager Officers (onsite Thailand&Philippine)
					br
					small
						b FPT,
					small  salary: $700-$1500, tag: android, iOS
				p
					| Ngày 14/01/2014 Thủ tướng Chính phủ đã ký Quyết định số 99/QĐ-TTg - Quyết định Phê duyệt Đề án "Đào tạo và phát triển nguồn nhân lực an toàn, an ninh...

		.media
			a.pull-left(href='#/job/detail')
				img.media-object(width='100', height='100', src='../contents/images/research_default.png', alt='...')
			.media-body
				h4.media-heading
					| Senior iOS Developer
					br
					small
						b FPT,
					small  salary: $700-$1500, tag: android, iOS
				p
					| Ngày 14/01/2014 Thủ tướng Chính phủ đã ký Quyết định số 99/QĐ-TTg - Quyết định Phê duyệt Đề án "Đào tạo và phát triển nguồn nhân lực an toàn, an ninh...

		.media
			a.pull-left(href='#/job/detail')
				img.media-object(width='100', height='100', src='../contents/images/research_default.png', alt='...')
			.media-body
				h4.media-heading
					| Front-end Web Developer
					br
					small
						b FPT,
					small  salary: $700-$1500, tag: android, iOS
				p
					| Ngày 14/01/2014 Thủ tướng Chính phủ đã ký Quyết định số 99/QĐ-TTg - Quyết định Phê duyệt Đề án "Đào tạo và phát triển nguồn nhân lực an toàn, an ninh...

		center
			ul.pagination
				li
					a(href='#') «
				li
					a(href='#') 1
				li
					a(href='#') 2
				li
					a(href='#') 3
				li
					a(href='#') 4
				li
					a(href='#') 5
				li
					a(href='#') »
	.col-md-3
		//- h4
		//- 	label.label.label-info Nhà tuyển dụng hàng đầu
