div(ng-controller='admin-online-surveys-ctrl')
	.page-header(style='margin-top:0px')
		h3
			| Khảo sát trực tuyến

			// Tạo khảo sát
			button.btn.btn-link.pull-right
				//- i.glyphicon.glyphicon-plus
				| Tạo khảo sát

			// Tìm kiếm
			//- button.btn.btn-link.pull-right
			//- 	i.glyphicon.glyphicon-search
