div(ng-controller='admin-statistics-ctrl')
	.page-header(style='margin-top:0px')
		h3 Thống kê hệ thống


	p
		b Bài viết
		small(style='display:block') - Tổng cộng có 230 bài viết

	div.progress
		div.progress-bar.progress-bar-success(style='width: 40%')
			| 40% Tuyển dụng
		div.progress-bar.progress-bar-warning(style='width: 35%')
			| 35% Hướng nghiệp
		div.progress-bar.progress-bar-danger(style='width: 25%')
			| 25% Nghiên cứu


	br
	p
		b Sinh viên
		small(style='display:block') - Tổng cộng có 1780 sinh viên

	div.progress
		div.progress-bar.progress-bar-success(style='width: 77%')
			| 77% Tốt nghiệp đúng hạn
		div.progress-bar.progress-bar-warning(style='width: 19%')
			| 19% Chưa tốt nghiệp
		div.progress-bar.progress-bar-danger(style='width: 4%')
			span.sr-only 4% Bị đình chỉ

	.progress
		.progress-bar.progress-bar-info(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%')
			| 80% đã tìm được việc làm
	.progress
		.progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%')
			| 20% chưa tìm được việc


	br
	p
		b Khảo sát
		small(style='display:block') - Tổng cộng có 1780 sinh viên

	div.progress
		div.progress-bar.progress-bar-success(style='width: 77%')
			| 77% Tốt nghiệp đúng hạn
		div.progress-bar.progress-bar-warning(style='width: 19%')
			| 19% Chưa tốt nghiệp
		div.progress-bar.progress-bar-danger(style='width: 4%')
			span.sr-only 4% Bị đình chỉ

	.progress
		.progress-bar.progress-bar-info(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%')
			| 80% đã tìm được việc làm
	.progress
		.progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%')
			| 20% chưa tìm được việc
